html{
    scroll-behavior: smooth;
}

#main {
    padding-left: 60px;
    padding-bottom: 35px;
}

.centralise {
    align-self: center;
}

.background1 {
    background-image: linear-gradient(#cfe6ff, white);
}

.background3 {
    background-image: linear-gradient(white, #cfe6ff);
}

.bg-image1 {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./static/image/bg_image1.jpg);
    background-size: cover;
}

.about-describe, .mission {
    font-size: 1.1rem;
    line-height: 2rem;
}

.about-describe {
    text-indent: 2rem;
    text-align: justify;
}

.category-title {
    font-weight: bold;
    color: cornflowerblue;
    font-size: 1.3rem;
}

.contact-wrapper div input, .contact-wrapper div textarea {
    font-size: 1.1rem;
    padding: 5px 10px;
    margin: 10px 0;
    width: 75%;
    border-radius: 5px;
}

.contact-wrapper div textarea {
    min-height: 150px;
}

.error {
    color: red;
    font-size: 1.1rem;
}

.board-card {
    padding: 10px;
}

.board-card * {
    display: block;
}

.board-card span {
    font-weight: 600;
}

.board-card img {
    height: 200px !important;
    width: auto;
    margin: auto;
}

.food-card {
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

.food-card *{
    display: inline-block;
}

.food-description {
    background-color: rgb(114, 114, 114);
    padding: 1.5rem 0.5rem;
    margin-left: 0.5rem;
    text-align: left;
}

.section-description {
    display: inline-block;
}

.section-description-mobile {
    display: none;
}

.footer {
    min-height: 35px;
}

/* The side navigation menu */
.sideNavBar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sideNavBar */
}

/* The navigation menu links */
.sideNavBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sideNavBar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sideNavBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.pushStyle {
    margin-left: 250px;
    transition-property: margin-left;
    transition-duration: 0.5s;
}

.pullStyle {
    margin-left: 0px;
    transition-property: margin-left;
    transition-duration: 0.5s;
}

.pageMaskStyle {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%; /* 100% Full-height */
    width: 100%; /* 100% Full-width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    transition-property: background-color;
    transition-duration: 0.5s;
    margin-left: -60px;
}

/* Make Open Side Nav button  stay floating across all pages */
.openSideNavBarButton {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-size:30px;
    cursor:pointer;
    padding: 15px;
}

/* Mobile */
@media screen and (max-width: 600px) {
    .sideNavBar {padding-top: 15px;}

    .sideNavBar a {font-size: 18px;}

    .openSideNavBarButton{
        font-size: 18px;
    }

    .board-card img {
        height: 150px !important;
    }

    .mobile-iframe {
        padding: 0;
    .section-description {
        display: none;
    }
    
    .section-description-mobile {
        display: inline-block;
    }
}

/* Tablets, Ipad */
@media screen and (min-width: 601px) and (max-width: 1199px) {
    
}

/* Laptop, Desktop */
@media screen and (min-width: 1200px) {
    .title {
        font-size: 3.5rem !important;
    }

    .fullheight {
        min-height: 100vh;
    }

    .food-description {
        max-width: 65%;
    }
}