.fullheight{
    height: 100vh;
}

html{
    scroll-behavior: smooth;
}

.centralise{
    align-self: center;
}

.background1{
    background-image: linear-gradient(#cfe6ff, white);
}

.background3{
    background-image: linear-gradient(white, #cfe6ff);
}